:root {
    --ui-elements: #508991; /* Pacific Cyan */
    --container: #004346; /* Dark Teal */
    --text: #172A3A; /* Jet Black */
    --actions: #09BC8A; /* Mint Leaf */
    --highlights: #75DDDD; /* Pearl Aqua */
    --soft-white: #F4F7F6;
}

html,
body {
    min-height: 100% !important;
}

body {
    min-height: 100vh !important;
    background: linear-gradient(
            -45deg,
            var(--text) 0%,
            var(--ui-elements) 100%
    ) !important;
}